.dialog-container {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-out;;
  z-index: 10000;
}

.dialog {
  background-color: white;
  overflow: auto;
  border-radius: 4px;
  transform: scale(0.5) translateY(600px);
  opacity: 0;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
  min-width: 240px;
  max-width: 80%;
  max-height: 80%;
}

.dialog.show-dialog {
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.dialog-content {
  padding: 12px;
  overflow: scroll;
  max-height: 500px;
}

@media(max-width: 768px) {
  .dialog-content {
    max-height: 300px;
  }
}

.dialog-footer {
  border-top: 1px solid #DDD;
  text-align: right !important;
}

.dialog-container.fadeIn {
  opacity: 1;
}

.dialog .button {
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.dialog.confirm-button {

}

.dialog.decline-button {

}
