.dialog-container {
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-out;;
  z-index: 10000;
}

.dialog {
  background-color: white;
  overflow: auto;
  border-radius: 4px;
  transform: scale(0.5) translateY(600px);
  opacity: 0;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  min-width: 240px;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.dialog.show-dialog {
  opacity: 1;
  transform: scale(1) translateY(0px);
}

.dialog-content {
  padding: 12px;
  overflow: scroll;
  max-height: 400px;
  -webkit-order: 1;
  order: 1;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.dialog-footer {
  border-top: 1px solid #DDD;
  text-align: right !important;
  display: -webkit-flex;
  display: flex;
  -webkit-order: 2;
  order: 2;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: 52px;
  overflow: hidden;
}

.dialog-container.fadeIn {
  opacity: 1;
}

.dialog .button {
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
}

.dialog.confirm-button {

}

.dialog.decline-button {

}
